/* src/components/Logo.css */
.logo-container {
    text-align: center;
    position: absolute;
    top: 20px;
  }
  
  .logo-image {
    width: 80%;
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  .system-title {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
  }
  